* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
   /* box-sizing est appliqué à tous les éléments */
}

/*Propriétés Css générales*/

* 
{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}
/*///////////////////////////Ici Propriétés images et card/////////////////////////*/
/*index*/


#bloc_page
{
    width: 100%;
    text-align: center;
}



.header_logo_img
{
    width: 186px;
}

.location
{
    width: 100%;
    background-color: #cccccc;
}

.section_top
{
    background-color: #f2f2f2;
}

.section_restaurant
{
    width: 100%;
    height: 40%;
}

.card_restaurant
{
    width: 100%;
}

.card_restaurant img 
{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card_restaurant_txt
{
    min-height: 10%;
    text-align: initial;
}

/*pages*/
.font_page_img
{
    width: 100%;
    height: 200px;
}
